{% extends 'user/usrdash.html' %}

{% block body %}
<form id="form1" name="form1" method="post" action="search">
<body>
<td>
      <div align="center" class="col-xs-4">
           <input  class="form-control" type="text" name="textfield" placeholder="search your product" required/>
      </div>
          <input type="submit" name="Submit" class="btn btn-warning" value="Search" />
  </td>
<br><br>
<p>
         <img width="110%" height="110%" src="static/3495403.jpg"/>

</p>
</body>
</form>
{% endblock %}