<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="362" height="195" border="1">
      <tr>
        <td width="181">PRODUCT NAMES </td>
        <td width="165"><label>
          <textarea name="textarea"></textarea>
        </label></td>
      </tr>
      <tr>
        <td>TOTAL AMOUNT </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>DELIVERY ADDRESS </td>
        <td width="165"><label>
          <textarea name="textarea"></textarea>
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="ORDER" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
