<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="455" height="396" border="1">
      <tr>
        <td width="220" height="53">BANK</td>
        <td width="219"><label>
          <select name="select">
          </select>
        </label></td>
      </tr>
      <tr>
        <td height="95">IFSC CODE </td>
        <td><label>
          <div align="center">
            <label></label>
          </div>
        </label></td>
      </tr>
      <tr>
        <td height="53">ACCOUNT NUMBER </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="53">PIN NUMBER </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="53">TOTAL AMOUNT </td>
        <td>{{pr}}&nbsp;/-</td>
      </tr>
      <tr>
        <td height="73" colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="PAY" />
          </div>
        </label></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
