<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="search">
  <table width="334" height="303" border="1">
    <tr>
      <td><label>
        <div align="right">
           <input type="text" name="textfield" />
          <input type="submit" name="Submit" value="Search" />
          </div>
      </label></td>
    </tr>
    <tr>
      <td width="220"><a href="updprof">VIEW AND UPDATE PROFILE</a></td>
    </tr>
    <tr>
      <td><a href="viewcategory">VIEW CATEGORIES</a></td>
    </tr>
    <tr>
      <td><a href="homestay">VIEW AND BOOOK HOME-STAY</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW CART</a></td>
    </tr>
    <tr>
      <td><a href="#">MY ORDERS</a></td>
    </tr>
    <tr>
      <td><a href="#">MY BOOKINGS</a></td>
    </tr>
    <tr>
      <td><a href="#">ADD FEEDBACK </a></td>
    </tr>
    <tr>
      <td><a href="#">LOG OUT</a></td>
    </tr>
  </table>
</form>
</body>
</html>
