{% extends'admin home.html' %}

{% block body %}

<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="511" height="215" border="1" id="customers">
      <tr>
        <td height="60" colspan="6"><div align="right"><a href="addhomestay" class="btn btn-success">ADD HOMESTAY</a></div></td>
      </tr>
      <tr>
        <th width="78">IMAGE</th>
        <th width="69">NAME</th>
        <th width="85">DETAILS</th>
        <th width="70"><div align="center">RATE</div></th>
        <th width="74">STATUS</th>
        <th width="95">options</th>
      </tr>
      {% for i in val %}
      <tr>
        <td><img src="/static/hom/hom{{i['image']}}" height="50px" width="50px"/></td>
        <td>&nbsp;{{i['h_name']}}</td>
        <td height="74">{{i['details']}}</td>
        <td>&nbsp;{{i['rate']}}</td>
        <td>&nbsp;{{i['status']}}</td>
        <td><p align="center"><a href="editho?id={{ i['h_id'] }}" class="btn btn-success">UPDATE</a></p>
        <p align="center"><a href="delhom?id={{ i['h_id'] }}" class="btn btn-danger">REMOVE</a></p></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
{% endblock %}
