{% extends'admin home.html' %}

{% block body %}

<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="511" height="215"  class="table table-borderless table-light table-hover mt-4">
      <tr>
        <td height="60" colspan="6"><div align="right"><a href="addhomestay" class="btn btn-success">ADD HOMESTAY</a></div></td>
      </tr>
      <tr>
        <th width="78"><div align="center">IMAGE</th>
        <th width="69"><div align="center">NAME</th>
        <th width="85"><div align="center">DETAILS</th>
        <th width="70"><div align="center">RATE</div></th>
        <th width="74"><div align="center">STATUS</th>
        <th width="95"><div align="center">OPTIONS</th>
      </tr>
      {% for i in val %}
      <tr>
        <td><div align="center"><img src="/static/hom/hom{{i['image']}}" height="50px" width="50px"/></td>
        <td><div align="center">&nbsp;{{i['h_name']}}</td>
        <td height="74"><div align="center">{{i['details']}}</td>
        <td><div align="center">&nbsp;{{i['rate']}}</td>
        <td><div align="center">&nbsp;{{i['status']}}</td>
        <td><p align="center"><a href="editho?id={{ i['h_id'] }}" class="btn btn-warning">UPDATE</a></p>
        <p align="center"><a href="delhom?id={{ i['h_id'] }}" class="btn btn-danger">REMOVE</a></p></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</form>
{% endblock %}
