{% extends'admin home.html' %}

{% block body %}
<form action="updcat" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table width="70%"  class="table table-borderless table-light table-hover mt-4">
      <tr>
        <th width="137">CATEGORY NAME </th>
        <td width="218"><label>
          <input type="text" name="textfield" value={{val['category_name']}} />
        </label></td>
      </tr>
      <tr>
        <th>IMAGE</th>
        <td><label>
          <input type="file" name="file" value={{val['image']}} />
        </label></td>
      </tr>


      <tr>
        <th>STATUS</th>
      <td><label>
          <div class="form-check form-check-inline">

            <input name="radiobutton" type="radio" value="Enabled" checked {% if val['status']=='Enabled'  %}checked {% endif %}/>
             <label>ENABLE          </label>
          </div>
             <div class="form-check form-check-inline">

            <input name="radiobutton" type="radio" value="Disabled" {% if val['status']=='Disabled'  %}checked {% endif %} />
             <label> DISABLE           </label>
          </div>

        </label></td></tr>

      <tr>
        <td colspan="2">
          <div align="center">
            <input type="submit" class="btn btn-success" name="Submit" value="UPDATE" />
          </div>
        </td>
      </tr>
      </table>
  </div>
</form>
{% endblock %}
